/* ==================== JetBrains Mono ==================== */

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/JetBrainsMono-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/JetBrainsMono-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/assets/fonts/JetBrainsMono-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(/assets/fonts/JetBrainsMono-MediumItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/assets/fonts/JetBrainsMono-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url(/assets/fonts/JetBrainsMono-SemiBoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/fonts/JetBrainsMono-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/fonts/JetBrainsMono-BoldItalic.ttf) format('truetype');
}

/* ==================== Outfit ==================== */

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/assets/fonts/Outfit-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/Outfit-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/assets/fonts/Outfit-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/assets/fonts/Outfit-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/fonts/Outfit-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/assets/fonts/Outfit-ExtraBold.ttf) format('truetype');
}